body,
html {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0px;
  margin: 0px;
}

.spacer {
  height: 30px;
}

/* The hero image */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("/img/heroimg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 60px;
}

.hero-text {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: white;
}

p {
  padding-bottom: 20px;
}

.btn {
  background-color: #a2b0ad;
  border: none;
  border-radius: 5px;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
}

.btn:hover {
  color: #333;
  cursor: pointer;
}

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 5px white;
}

.linkset-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.linkset-flex a {
  box-sizing: border-box;
  margin: 20px;
  width: 70px;
  height: 40px;
  border: 1px solid #333;
  text-align: center;
  text-decoration: none;
  padding-top: 10px;
  text-align: center;
  width: 150px;
  height: 40px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  background-color: #4da8da;
  border: solid 1px #203647;
}

.icons-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icons-flex a {
  display: block;
  width: 60px;
  margin: 10px;
  padding: 10px 10px;
  text-decoration: none;
}

.icons-flex a i {
  font-size: 60px;
  color: black;
  border: none;
}

/** IPAD **/
@media only screen and (min-device-width: 768px) {
}

/** Desktop **/
@media only screen and (min-device-width: 1024px) {
}
