/* About page */
body {
  background-color: #333;
}

.content {
  font-size: 18px;
  margin: 50px;
  border: none;
  color: #fff;
  padding: 100px 20px;
  text-align: center;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 40px;
}

span {
  color: crimson;
}

p {
  line-height: 30px;
}

.columnA {
  display: inline-block;
  text-align: left;
  width: 40%;
  vertical-align: top;
}

.ping-btn {
  display: block;
  font-family: sans-serif;
  color: black;
  margin-top: 20px;
  padding: 10px;
  font-size: 25px;
  text-align: center;
  border-radius: 10px;
  background: #00f260; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0575e6,
    #00f260
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0575e6,
    #00f260
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 10px;
}

.columnB {
  display: inline-block;
  width: 40%;
  padding-top: 120px;
}

.columnB2 {
  display: inline-block;
  text-align: left;
  width: 40%;
  vertical-align: top;
}

.columnB img {
  width: 250px;
  height: 250px;
  border-radius: 180px;
  right: 0;
}

.columnC {
  margin-top: 120px;
}

/* Skills pill */
.pill {
  display: inline-block;
  cursor: pointer;
  margin: 5px;
  padding: 8px;
  border-radius: 3px;
  background-color: crimson;
  color: white;
}

/* Iphone */
@media only screen and (max-width: 600px) {
  .columnB {
    display: none;
  }
  .columnA {
    width: 80%;
  }
  .columnB2 {
    margin-top: 30px;
    width: 80%;
  }
}

/* End About page */
